@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ==========================
CSS Reset by Josh Comeau
========================== */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* ==========================
DOM Styles
========================== */

* {
  word-break: break-all;
  overflow-wrap: anywhere;
  white-space: normal;
}

:root {
  --dark-gray: rgb(31, 31, 31);
  --gray: rgb(43, 41, 41);
  --light-gray: rgb(226, 226, 226);
  --violet: rgb(180, 106, 180);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem;
  font-family: "Poppins", sans-serif;
  background: var(--dark-gray);
  color: var(--light-gray);
  font-size: 1rem;
}

header {
  text-align: center;
}

h1 {
  line-height: 2rem;
  color: var(--violet);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1.5rem;
}

form * {
  border: none;
  outline: transparent;
  border-radius: 0.25rem;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

fieldset {
  border: none;
  padding: 0;
  width: 100%;
  display: flex;
}

input[type="text"] {
  background-color: var(--gray);
  color: var(--light-gray);
  padding: 0.5rem 1rem;
  flex-grow: 1;
  margin-right: 0.5rem;
}

input[type="submit"] {
  font-weight: 700;
  background-color: var(--violet);
  cursor: pointer;
  width: 100px;
  transition: all 0.15s ease-in;
}

input[type="submit"]:hover,
.view-profile-btn:hover {
  opacity: 80%;
}

input[type="submit"]:disabled,
.disabled {
  cursor: not-allowed;
  opacity: 70%;
}

a,
a:visited {
  color: var(--light-gray);
  text-decoration: none;
  transition: all 0.15s ease-in;
}

a[href]:hover {
  color: white;
}

i {
  color: var(--violet);
  margin-right: 2px;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid var(--gray);
}

.description {
  margin-top: 10px;
}

.form-row {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 0.5rem;
}

.form-error {
  color: red;
  font-weight: 700;
}

.github-info {
  background-color: var(--gray);
  padding: 2rem 1rem;
  border-radius: 0.25rem;
}

.avatar {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  border: 5px solid var(--violet);
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  margin-bottom: 2rem;
}

.name {
  font-size: 1.75rem;
  font-weight: bold;
}

.bio {
  text-align: center;
  font-style: italic;
}

.login {
  font-size: 1.15rem;
  font-weight: 400;
  color: var(--violet);
}

.view-profile-btn {
  background-color: var(--violet);
  padding: 1rem;
  border-radius: 4rem;
  font-weight: 700;
  color: var(--dark-gray) !important;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.user-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.user-info-grid {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  text-align: center;
}

.user-info-grid > div:nth-of-type(-n + 3) {
  background-color: var(--dark-gray);
  padding: 0.75rem;
  border-radius: 0.75rem;
}

.user-info-grid > div:nth-of-type(3) {
  margin-bottom: 1rem;
}

.repos-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.repo-card {
  background-color: var(--dark-gray);
  padding: 1rem;
  border-radius: 0.75rem;
}

.repo-name,
.repo-name:visited {
  color: var(--violet);
  font-weight: 600;
}

.repo-desc {
  margin-top: 0.5rem;
}

.repo-info {
  margin-top: 1.5rem;
  display: flex;
  gap: 0.5rem;
  font-size: 13px;
}

@media (min-width: 601px) {
  header {
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  input[type="text"] {
    padding: 1rem 1.5rem;
  }

  input[type="submit"] {
    width: 150px;
  }

  .user-info-head {
    flex-direction: row;
    align-items: start;
    width: 100%;
    gap: 2rem;
  }

  .user-info-head > .user-info-container {
    justify-content: start;
    align-items: start;
    width: auto;
  }

  .user-info-grid > div:nth-of-type(3) {
    margin-bottom: 0;
  }

  .user-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1rem;
  }

  .repos-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .repo-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: 1025px) {
  h1 {
    font-size: 3rem;
  }

  body {
    width: 75vw;
    margin: auto;
  }

  .repos-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
